@use "../../abstracts" as *;

$btn-colors: (
    cross: hsl(0, 100%, 40%),
    minimize: $yellow,
    maximize: lime,
);

.buttons {
    display: flex;
    gap: 0.5rem;
    margin-block: 1rem;
}

.btn {
    height: 1rem;
    aspect-ratio: 1/1;
    padding: 0.45em;
    border-radius: 50%;
}

@each $btn, $color in $btn-colors {
    ##{$btn} {
        background-color: $color;
    }
}
