@use "../../abstracts" as *;

$btn-colors: (
    cross: hsl(0, 100%, 40%),
    minimize: $yellow,
    maximize: lime,
);

.buttons {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    top: 0.4rem;
    left: 0.5rem;
}

.btn {
    aspect-ratio: 1/1;
    padding: 0.45em;
    border-radius: 50%;
}

@each $btn, $color in $btn-colors {
    ##{$btn} {
        background-color: $color;
    }
}
