input {
    background-color: transparent;
    border: none;
    // border-bottom: 1px solid var(--main-ascii-color);
    position: relative;
    width: 0.5rem;
    // height: 1.5rem;
    resize: none;
    overflow: auto;
    // top: 0.4rem;
    color: var(--login-color);
    left: -0.5rem;
    // outline: 1px solid var(--login-color);

    &:focus {
        color: var(--login-color);
        outline: none;
        caret-color: var(--main-background);
    }
}

#login {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

// @media (max-width: 600px) {
//     input {
//         width: 50vw;
//     }
// }
// @media (max-width: 333px) {
//     input {
//         width: 40vw;
//     }
// }
