input {
    background-color: transparent;
    border: none;
    // border-bottom: 1px solid var(--main-ascii-color);
    position: relative;
    width: 70%;
    // height: 1.5rem;
    resize: none;
    overflow: auto;
    // top: 0.4rem;
    color: var(--login-color);
    left: -0.5rem;
    &:focus {
        color: var(--login-color);
        outline: none;
    }
}

#login {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

// textarea::after {
//     content: "_";
//     top: 0;
//     left: 0;
//     background-color: aqua;
// }
